* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
    border-left: 1px solid rgb(0,0,0);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(255, 255, 255);
}

.active {
    background-color: #4CAF50;
}

body {
    background-color: black;
    margin: 0;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: #000000;
    
}

header h1 {
    width: 500px;
    margin: 0 auto;
    font-size: 66px;
    color: rgb(255, 248, 248);
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    color: whitesmoke;
    background: #000000;
    height: 200px;
    width: 100px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}

.search {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}
.search:focus {
    outline: 0;
    background-color: black;
}
.search::placeholder {
    color: skyblue;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    border: #790001 solid;
    box-shadow: 0.2px 4px 5px rgb(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.movie img {
    width: 100%;
}
.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3 {
    margin-top: 0;
}
.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}
.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color:rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    max-height: 100;
    transform: translateY(101%);
    transition:transform 0.3s ease-in;  
}
.movie:hover .overview {
    transform: translateY(0);
}